@font-face {
  font-family: 'Balsam';
  src: url("../FONTS/BalsamiqSans-Regular.eot");
  src: local("☺"), url("../FONTS/BalsamiqSans-Regular.woff") format("woff"),
   url("../FONTS/BalsamiqSans-Regular.ttf") format("truetype"),
    url("../FONTS/BalsamiqSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Balsam';
  src: url("../FONTS/BalsamiqSans-Bold.eot");
  src: local("☺"), url("../FONTS/BalsamiqSans-Bold.woff") format("woff"),
   url("../FONTS/BalsamiqSans-Bold.ttf") format("truetype"),
    url("../FONTS/BalsamiqSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
