
@media all and (max-width: 1070px) {
	/* HEADER START */
	.container{
	width: unset;
	margin: 0 auto;
}
.header{
	padding: 2em 0 2em 0;
	background: url(../IMG/header.png) 0/cover;
}
	.header__menu{
		display: none;
	}
	.mobile__header{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.header__title{
		padding-top: .2em;
		font-size: 70px;
	}
	.header__subtitle{
		font-size: 20px;
	}
	.button{
		font-size: 20px;
	}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: right;
  color: white;
  padding: 1.7em 1em;
  text-decoration: none;
  font-size: 12px;
}

.topnav a.icon {
	padding: 1em;
	font-size: 16px;
	float: left;
}

.topnav a:hover {
	color: #e74a43;
}

.active {
  background-color: #4CAF50;
  color: white;
}
.header__info{
	display: none;
}
.header__info_mobile{
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}
/* HEADER END */

/* ABOUT START */

.about__quote{
	padding-top: 0;
	padding-left: 2em;
	font-size: 30px;
	line-height: 2;
	text-transform: uppercase;
}

/* ABOUT END */

/* SERVICES START */

.services__content{
	flex-wrap: wrap;
	height: 100%;
}

.services__item{
	width: 40%;
	height: 40%;
	padding-top: 2em;
}

.works__row{
	justify-content: space-around;
	align-items: center;
}

.works__title{
	font-size: 35px;
}

.services__icon{
	font-size: 60px;
}

.item__title{
	font-size: 24px;
}

.services__subtitle{
	width: unset;
	margin: 0;
	font-size: 20px;
}


/* SERVICES END */

/* PLANS START */

.mobile__plans{
	display: flex;
}

.plans__item{
	display: none;
}

.plans__item_subtitle{
	padding: .3em 0;
}

/* PLANS END */

/* WHO AM I START */

.owner__title {
	padding-left: 1em;
	text-transform: uppercase;
	font-family: Tahoma, Serif;
	font-weight: 300;
	font-size: 45px;
	text-align: center;
}

.owner__info{
	padding: 1em 0;
	margin: 0 auto;
	flex-direction: column;
	text-align: center;
}

.owner__text{
	font-size: 25px;
	padding: 1em;
}

.owner__contact{
	width: unset;
	padding-top: 1em;
}

/* WHO AM I END */

/* CONTACT START */

.contact__info{
	justify-content: center;
}

.contact__form{
	margin-right: 5em;
	display: flex;
	flex-direction: column;
}

.contact__title{
	font-size: 45px;
}

input[placeholder]{
	font-size: 18px;
	font-weight: 600;
}

.info__title {
	font-size: 35px;
}

address{
	font-size: 20px;
}

/* CONTACT END */

/* FOOTER START */

.footer__content{
	justify-content: space-around;
}

.footer__menu a{
	font-size: 18px;
}

.footer__title{
	font-size: 21px;
}

/* FOOTER END */

}

@media all and (max-width: 1040px){

	/* WORKS START */

	.works__content{
		display: none;
	}

	.mobile__works{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}

	.works__title{
		text-align: center;
	}

	.slider{
		padding-top: 1em;
		justify-content: center;
	}

	/* WORKS END */

}

@media all and (max-width: 865px) {
	.header{
	background: url(../IMG/header.png) 50% 100%/cover;
}

	.contact__info {
		flex-direction: column;
	}
	.contact__form{
		margin: 0 auto;
	}
	address{
		text-align: center;
	}

	.mobile__header{
		flex-direction: column-reverse;
	}
	.footer__menu a{
	font-size: 10px;
}
.footer__title{
	font-size: 12px;
}

}

@media all and (max-width: 576px){
	input{
	margin-bottom: 1em;
}
.message{
	padding: 1em;
}
.message{
	margin: 0 1em 1em 1em;
}
}
@media all and (max-width: 540px){
	input{
	margin-bottom: 1em;
}

}

@media all and (max-width: 450px){
	input{
	margin-bottom: 1em;
}

.topnav a {
	padding: 2em .5em 0 0;
	font-size: 10px;
}

.topnav a.icon {
	font-size: 16px;
}

.header__title{
		font-size: 40px;
	}
	.header__subtitle{
		font-size: 18px;
	}
	.button{
		font-size: 14px;
	}
	.about__quote{
	font-size: 18px;
}
.services__content{
	flex-direction: column;
}
.services__item{
	margin: 0 auto;
}
.contact__title{
	font-size: 30px;
}
.info__title {
	font-size: 20px;
}
address{
	font-size: 16px;
}

.contact{
	padding: 5em 0;
}

.services__item{
	width: 20em;
}
.owner__text{
	font-size: 18px;
}
.owner__title {
	font-size: 35px;
}

input[placeholder]{
	font-size: 15px;
}

}


